---
# Extending the default configuration
extends: default

rules:
  # No spaces inside braces ({ and })
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 0
  # No spaces inside brackets ([ and ])
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  # No spaces allowed before colons
  # Up to one space allowed after colons
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
  # No spaces allowed before commas
  # Exactly one space required after commas
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1
  # Require a space character right after the #
  # At least two spaces to separate inline comments from content
  # WARNING only
  comments:
    require-starting-space: yes
    min-spaces-from-content: 2
    level: warning
  # Force comments to be indented like content
  comments-indentation: enable
  # WARNING only for the use of document end marker (...)
  document-end:
    present: yes
    level: warning
  # WARNING only for the use of document start marker (---)
  document-start:
    present: yes
    level: warning
  # Up to one consecutive blank line
  # No empty lines allowed at the beginning of the file
  # No empty lines allowed at the end of the file
  empty-lines:
    max: 1
    max-start: 0
    max-end: 0
  # Up to one space after hyphens (-)
  hyphens:
    max-spaces-after: 1
  # Indentation width in 2 spaces
  # Block sequences should be indented
  # Lint indentation in multi-line strings
  indentation:
    spaces: 2
    indent-sequences: yes
    check-multi-line-strings: yes
  # Prevent multiple entries with the same key in mappings
  key-duplicates: enable
  # Limit lines length to 120
  # Allow non breakable words (without spaces inside) to overflow the limit
  # WARNING only
  line-length:
    max: 120
    allow-non-breakable-words: yes
    level: warning
  # Require a new line character (\n) at the end of files
  new-line-at-end-of-file: enable
  # Use UNIX-typed new line characters (\n)
  new-lines:
    type: unix
  # Forbid trailing spaces at the end of lines
  trailing-spaces: enable
...
